body {
    font: 14px "Century Gothic", Futura, sans-serif;
  }
  
  .game-board {
    margin: auto;
    margin-top: 50px;
  }
  ol, ul {
    padding-left: 30px;
  }
  
  .board-row:after {
    clear: both;
    content: "";
    display: table;
  }
  
  .status {
    margin-bottom: 10px;
  }
  
  .square {
    background: #fff;
    border: 1px solid #999;
    float: left;
    font-size: 24px;
    font-weight: bold;
    line-height: 34px;
    height: 34px;
    margin-right: -1px;
    margin-top: -1px;
    padding: 0;
    text-align: center;
    width: 34px;
  }

  .styleX {
    color: #345594;
    font-weight: 700;
  }

  .styleO {
    color: red;
    font-weight: 700;
  }
  
  .square:focus {
    outline: none;
  }
  
  .kbd-navigation .square:focus {
    background: #ddd;
  }
  
  .game {
    display: flex;
    flex-direction: row;
    align-items: center;
  }
  
  .game-info {
    margin-left: 20px;
  }
  