* {
    margin: 0;
    padding: 0;
}


body {
    background-color: #f4f7f3;
    font-family: roboto;
}
.card{
    width: 300px;
    margin-top: 50px;
    margin:auto;
    box-shadow: 0 2px 4px rgb(92, 86, 86);
}
.card-image {
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    overflow: hidden;
}
.card-image img{
    max-width: 100%;
    margin: auto;
    object-fit:cover;
}
.card-content {
    background-color: #fff;
    padding: 20px;
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;

}

.title {
    font-size: 20px;
}
.description {
    color: #757575;
    font-size: 14px;
    margin-top: 16px;
    margin-bottom: 16px;
}
.price {
    color: #f65623;
    font-size:20px;
}