*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Lato', sans-serif;
}


.button {
    border-radius: 4px;
    font-size: 18px;
    padding: 15px 45px;
}

#option {
    margin: 35px 0 55px 0;
}

#option h6 {
    margin: 20px 0 10px 0;
    font-size: 18px;
    font-weight: 700;
    line-height: 22px;
    color: #414141;
}

#option p {
    font-size: 16px;
    font-weight: 300;
    line-height: 28px;
    color: #6C6C6C;
}

#get-started {
    background-image: linear-gradient(to right, #FE985B, #FE4FA7);
    padding: 120px 0;
}

#get-started h2 {
    font-size: 55px;
    font-weight: 700;
    line-height: 60px;
    color: #fff;
}

#get-started p {
    font-size: 20px;
    line-height: 30px;
    color: #fff;
    width: 550px;
    margin: 20px auto;
}

#get-started button {
    color: #464646;
    border: none;
    background-color: #fff;
}

#quote {
    background-color: #F6FAFD;
    min-height: auto;
    padding-top: 32px;
}

.quote-content {
    padding: 206px 0 0 0;
    /* width: 600px; */
    object-fit: cover;
    overflow: hidden;
}

.quote-content p:first-child {
    font-weight: 400;
    font-size: 24px;
    line-height: 40px;
}

.quote-content p:nth-child(2) {
    margin: 20px 0 0 0;
    font-weight: 700;
    font-size: 24px;
}

.quote-content p:last-child {
    font-weight: 400;
    font-size: 20px;
}

#price {
    padding: 60px 0;
}

.price-content {
    width: 548px;
    margin: auto;
}

.price-content h3 {
    font-size: 36px;
    font-weight: 700;
}

.price-content p {
    font-size: 16px;
    font-weight: 300;
    color: #6C6C6C;
}

.free-price {
    background-color: #F6FAFD;
    margin: 60px 0;
    padding: 80px 30px;
}

.premium-price {
    padding: 80px 30px;
    margin: 60px 0;
}

.price-details h6 {
    margin-bottom: 20px;
    font-size: 14px;
    font-weight: 700;
    line-height: 17px;

}

.price span:first-child {
    color: #FE4FA7;
    font-size: 72px;
    font-weight: 700;
    line-height: 86px;
}

.price span:last-child {
    color: #414141;
    font-size: 14px;
    font-weight: 700;
    line-height: 16.8px;
}


.price-details p {
    color: #6C6C6C;
    font-size: 16px;
    font-weight: 300;
    line-height: 28px;
    margin-top: 20px;
    padding: 0 40px;
}

.free-price button {
    border: none;
    color: #fff;
    background-image: linear-gradient(to right, #FE985B, #FE4FA7);
}

.premium-price button {
    color: #464646;
    border: 2px solid #979797;
    background-color: #fff;
}
