* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: Roboto,sans-serif;
}

body {
    background-color: #f2f2f2;
}

.blog-item {
    display: flex;
    flex-direction: column;
    padding: 40px;
}


.image {
    height: 79px;
    width: 79px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
}

.image img {
    width: 48px;
    height: 48px;
}

h2 {
    text-transform: uppercase;
    font-weight: 700;
    text-align: center;
    margin: 20px 0 0;
}

h3 {
    text-transform: uppercase;
    font-weight: 700;
}

.blog-container {
    padding: 20px;
}

.blog-content h6 {
    text-transform: uppercase;
    font-weight: 700;
    text-align: center;
}

p {
    font-weight: 300;
    margin: 20px 0 0;
    text-align: center;
}

.blog-form {
    margin-top: 30px;
}

.input-name input, .input-email input, .input-message textarea{
    display: block;
    width: 100%;
    padding: 10px 12px;
    background-clip: padding-box;
    border: none;
    transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
    height: auto;
    overflow: visible;
}

.input-name, .input-email, .input-message {
    margin-bottom: 20px;
}

.text-input::placeholder{
    color: rgb(177, 177, 177);
}

a {
    text-decoration: none;
}

.submit button {
    border-width: 2px;
    background-image: none;
    border-style: solid;
    border-color: #454545 !important;
    color: #454545 !important;
    background-color: transparent !important;
    stroke: none;
    margin-top: 1px;
    margin-bottom: 1px;
    vertical-align: middle;
    text-align: center;
    padding: 10px 30px;
    cursor: pointer;

}

.blog-maps {
    box-sizing: border-box;
    object-fit: contain;
    overflow: hidden;
}