
* {
    margin: 0;
    padding: 0;
    font-family: roboto;
}

.container {
    margin-top: 50px;
    padding-left: 28%;
    width: 800px;
    height: 1700px;
    line-height: 30px;
}

img {
    width: 750px;
    height: 450px; 
}

h3 {
    color: #be976c;
    
}
button {
    background-color:#be976c;
    color: #fff;
    padding: 10px 20px;
    text-transform: uppercase;
    border: none;
    border-radius: 4px;
    position: fixed;
    left: 20px;
    top: 20px;
}