* {
    margin: 0;
    padding: 0;
    font-family: roboto;
}

.container {
    margin-top: 50px;
    padding-left: 28%;
    width: 800px;
    height: 1700px;
    line-height: 30px;
}

img {
    width: 750px;
    height: 450px; 
}