* {
    margin: 0;
    padding: 0;
    font-family: roboto;
}


.container {
    margin-top: 50px;
    padding: 0 30%;
    width: 800px;
    height: 1700px;
    line-height: 30px;
}


img {
    width: 100%;
}

button {
    background-color:#be976c;
    color: #fff;
    padding: 10px 20px;
    text-transform: uppercase;
    border: none;
    border-radius: 4px;
    margin-bottom: 30px;
    /* position: fixed; */
    /* left: 20px;
    top: 20px; */
}