@import url(./base.css);

.banner {
    width: 100%;
    position: relative;
  }
  
.banner-item {
    width: 100%;
    height: 830px;
}
  
.banner-1 {
    background: url(../image/trang-chu/banner_1.jpg) no-repeat;
    background-size: cover;
    background-position: center;
    width: 100%;
  }
  
.banner-2 {
    background: url(../image/trang-chu/promo_1711_off40.jpg) no-repeat center;
    background-size: cover;
    width: 100%;
  }
  
.banner-3 {
    background: url(../image/trang-chu/slider_3.jpg) no-repeat center;
    background-size: cover;
    width: 100%;
  }

.home__main-menu-card {
    display: flex;
    flex-direction: column;
    width: 226px;
    height: 210px;
    border-radius: 8px;
    box-shadow: 0px 4px 4px 0 rgba(0, 0, 0, 0.25);
    transition: linear 0.25s;
}

.home__main-menu-card:hover {
  transform: scale(1.05);
}

.home__main-menu-card-content {
    width: 100%;
    height: 60px;
    text-transform: uppercase;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    margin: auto;
    padding-top: 7%;
    background-color: var(--orange-color);
}

.home__main-menu-card-image img {
    width: 100%;
    height: 150px;
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
}


@media (max-width: 991px) {
    .home__main-menu-card {
      margin-top: 30px;
    }
}

@media (max-width: 765px) {

}

@media (max-width: 576px) {
 
}

