@import url(./base.css);

.dialog {
    background-color: var(--beige-color);
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    z-index: 10;
    display: flex;
    align-items: center;
    justify-content: center;
}

.dialog-body {
    display: flex;
    flex-direction: column;
    max-width: 732px;
    position: relative;
    padding: 16px;
    background-color: #fff;
}

.dialog-body__input-volumn {
    display: flex;
    flex-direction: column;
}

.dialog-body__input-volumn-item {
    background-color: var(--orange-red-color);
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
}

.dialog-body__input-volumn-quantity {
    display: flex;
    justify-content: space-between;
}

.dialog-body__input-volumn-option {
    background-color: var(--white-color);
    border: solid 1px var(--orange-red-color);
}

.dialog-body__deal-confirm-btn {
    display: flex;
    flex-direction: row;
}


.input-volumn {
    width: 157px;
    border-color: var(--white-color);
    border: solid 1px var(--orange-red-color);
}

.overlay {
    background-color: var(--grey-color);
}


@media (max-width: 765px) {
    .pop-up-price {
        text-align: center;
    }
    .dialog-body__deal-confirm-btn {
        text-align: center;
    }
    .btn--confirm:last-child {
        margin-top: 15px;
    }
}

@media (max-width: 576px) {

}


