@import url(./base.css);

body {
    background-color: var(--beige-color);
}

input {
	transition: all 0.25s linear;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
	margin: 0;
}

input {
	outline: none;
}

.products > li {
	padding: 1rem 0;
	background-color: var(--white-color);
	padding: 1rem;
	margin-bottom: 1rem;
}

.row {
	display: flex;
}

.col.left {
	flex-basis: 70%;
}

.col.right {
	flex-basis: 30%;
	display: flex;
	align-items: center;
}

.detail {
	padding: 0 0.5rem;
	line-height: 2.2rem;
}

.detail .name {
	font-size: 1.2rem;
	font-weight: 700;
}

.detail .description {
	font-size: 1rem;
	margin: 0.7rem 0;
	line-height: 1.4;
}

.detail .price {
	font-size: 1.2rem;
	font-weight: 700;
}

.quantity {
    display: inline-block;
}

.quantity,
.remove {
	width: 50%;
	text-align: center;
}

.quantity>input {
	display: inline-block;
	width: 60px;
	height: 60px;
	position: relative;
	left: calc(50% - 30px);
	background: var(--white-color);
	border: 2px solid #DDD;
	text-align: center;
	font: 600 1.5rem Helvetica, Arial, sans-serif;
}

.quantity>input:hover,
.quantity>input:focus {
	border-color: var(--orange-color);
}

.close {
	cursor: pointer;
	font-size: 1.5rem;
}

.close:hover {
	color: var(--red-color);
}

/* --- SUMMARY --- */
.promotion,
.summary,
.checkout {
	float: left;
	width: 100%;
	margin-top: 1.5rem;
}

.promotion>label {
	float: left;
	width: 100%;
	margin-bottom: 1rem;
}

.promotion>input {
	float: left;
	width: 80%;
	font-size: 1rem;
	padding: 1rem 1.5rem;
	border: 2px solid #DDD;
}

.promotion:hover>input {
	border-color: var(--orange-color);
}

.promotion>button {
	float: left;
	width: 20%;
	padding: 1rem 0.5rem;
}

.promotion:hover>button {
	border-color: var(--orange-color);
	background-color: var(--orange-color);
}

.promotion>button::after {
	content: "\276f";
	font-size: 1rem;
}

.summary {
	font-size: 1.2rem;
	text-align: right;
}

.summary ul li {
	padding: 0.5rem 0;
}

.summary ul li span {
	display: inline-block;
	width: 30%;
}

.summary ul li.total {
	font-weight: bold;
}

/* --- SMALL SCREEN --- */
@media all and (max-width: 599px) {
	.thumbnail img {
		display: none;
	}

	.quantity>input {
		width: 40px;
		height: 40px;
		left: calc(50% - 20px);
	}

	.remove svg {
		width: 40px;
		height: 40px;
	}
}

/* --- MEDIUM & LARGE SCREEN --- */
@media all and (min-width: 600px) {
	html {
		font-size: 14px;
	}

	.container {
		width: 75%;
		max-width: 960px;
	}

	.thumbnail,
	.detail {
		float: left;
	}

	.thumbnail {
		width: 30%;
	}

	.detail {
		width: 65%;
		padding: 0 1rem;
	}

	.promotion,
	.summary {
		width: 50%;
	}

	.checkout {
		width: 100%;
	}

	.checkout,
	.summary {
		text-align: right;
	}
}

/* --- LARGE SCREEN --- */
@media all and (min-width: 991px) {
	html {
		font-size: 16px;
	}
}


@media (max-width: 765px) {
    .float-end {
        float: left !important;
        padding-left: 12px !important;
        padding-top: 12px !important;
    }

    .order-info-body {
        max-width: 507px;
    }

    .order-info {
        padding-top: 20px;
    }

    .confirm-btn {
        margin-top: 20px;
    }
}

@media (max-width: 576px) {

}