@import url(./base.css);

.store{
    background-color: var(--beige-color);
}

.page_sidebar p {
    text-transform: uppercase;
}

.store__list {
    display: flex;
    flex-wrap: wrap;
    margin: 0 -12px;
}

.store__card {
    background-color: var(--white-color);
    height: 541px;
    width: 344px;
    flex: 0 0 calc(40% - 24px);
    margin: 0 12px 40px;
}

.store__card-image {
    background-image: url(../public/image/cua-hang/pluto-loduc.png);
    height: 240px;
    background-position: 50% 10%;
    width: 100%;
}

.store__card h3 {
    margin: 35px 0;
    font-weight: 500;
}

.store__card p {
    padding: 0 15px;
    font-weight: 400;
}

.stikySidebar {
    width: 19.5%;
    border-right: solid 1px var(--black-color);
    top: 60px;
    padding: 12px 15px;
    margin-bottom: 12px;
    z-index: 2;
}



@media (max-width: 992px) {
    .stikySidebar {
        width: 100%;
        border-right: none;
        top: 60px;
        padding: auto;
        margin-bottom: 12px;
        z-index: 2;
    }
}