* {
    padding: 0;
    margin: 0;
    font-family: roboto;
}

.container-header {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    height: 600px;
    background-image: url(/image/header.jpg);
    background-repeat: no-repeat;
    background-size: inherit;
    box-sizing: border-box;
    background-position: 20% 30%;
}
.left-layout-row {
    align-items: center;
    align-content: center;
    padding-top: 3em;
}

.home {
    color: gray;
    font-weight: bold;
    text-decoration: none;
}

.home a:hover {
    color: grey;
}

.left-layout-row h1 {
    font-size: larger;
    text-transform: uppercase;
    font-size: xx-large;
    font-weight: bold;
    line-height: 1.5em;
    color: #312933;
}

.left-layout-row h3 {
    text-transform: uppercase;
    color: #312933;
    margin-bottom: 1.1em;


}

.logo, .home {
    margin-top: 20px;
}

.left-layout-row {
    margin-top: 100px;
}


.content1{
    margin-top: 2em;
}
.content1-h1 {
    text-align: center;
}

.container-content {
    padding: 0 50px;
    margin: 0 20px;
}

.container-content-1 h1, .container-content-2 h1 {
    color: #f9e79b;
    font-size: 17.625rem;
    font-weight: 900;
    text-shadow: 50px solid #f9e79b;
    margin: 2%;
    padding: 2%;
    position: relative;
    margin: -120px auto 0;
}

.container-content-1-detail, .container-content-2-detail {
    padding: 0 30px;
}

.container-content-1-body, .container-content-2-body {
    position: relative;
    margin: -260px auto 0;
}

.container-content-1-body h4, .container-content-2-body h4 {
    margin-bottom: 30px;
    font-weight: lighter;

}

.content1 p {
    margin-top: 1em;
    text-align: center;
    font-size: smaller;
    line-height: 2em;
}

.container-content-1, .container-content-2 {
    display: flex;
    justify-content: space-between;
    text-align: center;
    padding: 6em 6em 4em 6em;
    font-size: 1.5em;
    font-weight: 400;
}

.container-content2 {
    display: block;
    flex-direction: row;
    justify-content: space-around;
    /* height: 800px; */
    background-image: url(/image/content2.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    box-sizing: border-box;
}

.content-container-content2 {
    display: block;
    width: 30%;
    padding: 10em 25em 10em 20em;
}

.content-container-content2 button {
    margin-top: 50px;
    background-image: none;
    text-transform: uppercase;
    letter-spacing: 0;
    font-size: 1rem;
    border-style: none;
    font-weight: 700;
    margin: 36px auto 0 0;
    padding: 10px 52px 10px 51px;
    text-decoration: none;
    background-color: #f1c50e;
}

.content-container-content2 h3 {
    color: #f1c50e;
    text-transform: uppercase;
    letter-spacing: normal;
    font-weight: 700;
    font-size: 3rem;
    margin: 80px 0 0;
}

.content-container-content2 h1 {
    font-weight: lighter;
}

.content-container-content2 p {
    font-size: 1.125rem;
    font-style: normal;
    margin: 36px auto 0 0;
    line-height: 1.6em;
}

a {
    text-decoration: none;
}

.content-container-content2 button:hover {
    background-color: #fff;
}

.container-content3 {
    display: block;
    flex-direction: row;
    justify-content: space-around;
    /* height: 800px; */
    background-image: url(/image/content3.jpeg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 50% 50%;
    box-sizing: border-box;
    color:  #ffffff;
    object-fit: cover;
}

.content-container-content3 {
    display: block;
    width: 30%;
    padding: 3em 25em 1em 15em;
    line-height: 3em;
    color: #ffffff;
}

.content-container-content3 h3{
    font-size: 1.5rem;
    text-transform: uppercase;
    letter-spacing: 0;
    font-weight: 400;
    margin: 60px auto 0 0;
}

.content-container-content3 h1{
    text-transform: uppercase;
    font-weight: 700;
    letter-spacing: 2px;
    font-size: 3rem;
    margin: 20px auto 0 0;
}

.content-container-content3 p{
    line-height: 2;
    margin: 20px 65px 60px 0;
}

.container-content4 {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    justify-content: space-between;
    box-sizing: border-box;
    object-fit: cover;
    padding: 3em 15% 5% 15%;
}

.content-container-content4 h1 {
    padding-bottom: 1em;
    font-size: 3rem;
    text-transform: uppercase;
    font-weight: 700;
    margin: 30px 0 0;
}

.content-container-content4 p {
    line-height: 2em;
    margin-right: 30px;
    line-height: 1.8;
}

.content-container-content4 button {
    margin-top: 50px;
    background-image: none;
    text-transform: uppercase;
    letter-spacing: 0;
    font-size: 1rem;
    border-style: none;
    font-weight: 700;
    margin: 36px auto 0 0;
    padding: 10px 52px 10px 51px;
    text-decoration: none;
    background-color: #f1c50e;
}

.content-container-content4 button:hover {
    background-color: #fff;
}

.container-content4 img {
    width: 450px;
}

.content-container-content5 h1 {
    padding-bottom: 1em;
}

.content-container-content5 {
    text-align: center;
    line-height: 2em;
}

.image-list {
    text-align: center;
}

.image-list img {
    padding: 3em;
}


.container-content6 {
    background-color: black;
}


.content-container-header6 {
    height: 12em;
}

.get-in-touch {
    color:#f1c50e;
    position: relative;
    font-size: 3rem;
    z-index: 1;
    text-align: center;
    margin: -170px auto 0;
    font-weight: bolder;

}

.contact {
    color: #404040;
    text-align: center;
    position: relative;
    font-size: 13.375rem;
    font-weight: bolder;
    margin: 18px auto 0;
    text-transform: uppercase;
}

.content-container-content6 {
    display: flex;
    justify-content: space-around;
    color: #fff;
    padding: 5% 20%;
}

.content-container-content6-left {
    width: 40%;
    line-height: 2em;
}

.content-container-content6-left h3 {
    font-weight: lighter;
    margin-bottom: 20px;
}

.content-container-content6-right {
    /* display: flex; */
    /* flex-direction: column; */
    /* justify-content: space-between; */
    padding: auto;
    width: 60%;
    margin-left: 40px;
}

.content-container-content6-left i {
    color: #f1c50e;
    margin-top: 30px;
}

.content-container-content6-right input:nth-child(1), .content-container-content6-right input:nth-child(2), .content-container-content6-right textarea   {
    width: 100%;
    padding: 10px 12px;
    /* background-clip: padding-box; */
    border: 1px solid #fff;
    border-radius: 3px;
    background-color: transparent;
    color: inherit;
    text-align: inherit;
    height: auto;
    border-width: 2px; 
}

.content-container-content6-right button {
    background-color: #f1c50e;
    padding: 10px 30px;
    border-radius: 30px;
    text-transform: uppercase;
    font-weight: bold;
    border: none;
    margin: 30px 0;
    display: block;
}

.content-container-content6-right button:hover {
    background-color:#f1c40ed8;
}