body {
  font: 14px "Century Gothic", Futura, sans-serif;
}

.game-board {
  margin: auto;
  margin-top: 50px;
}
ol, ul {
  padding-left: 30px;
}

.game-turn {
  display: flex;
  justify-content: space-around;
  margin-bottom: 30px;
}

.restart-btn button {
  background-color: #FFFFFF;
    border: 1px solid #222222;
    border-radius: 8px;
    box-sizing: border-box;
    color: #222222;
    cursor: pointer;
    display: inline-block;
    font-family: Circular,-apple-system,BlinkMacSystemFont,Roboto,"Helvetica Neue",sans-serif;
    font-size: 16px;
    font-weight: 600;
    line-height: 20px;
    margin: 0;
    outline: none;
    padding: 13px 23px;
    position: relative;
    text-align: center;
    text-decoration: none;
    touch-action: manipulation;
    transition: box-shadow .2s,-ms-transform .1s,-webkit-transform .1s,transform .1s;
    user-select: none;
    -webkit-user-select: none;
    width: auto;
}

.board-row:after {
  clear: both;
  content: "";
  display: table;
}

.status {
  align-items: center;
  font-size: 16px;
  padding-top: 10px;
}

.square {
  background: #fff;
  border: 1px solid #999;
  float: left;
  font-size: 24px;
  font-weight: bold;
  line-height: 34px;
  height: 34px;
  margin-right: -1px;
  margin-top: -1px;
  padding: 0;
  text-align: center;
  width: 34px;
}

.styleX {
  color: #345594;
  font-weight: 700;
}

.styleO {
  color: red;
  font-weight: 700;
}

.square:focus {
  outline: none;
}

.kbd-navigation .square:focus {
  background: #ddd;
}

.game {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.game-info {
  margin-left: 20px;
}
