header {
    font-family: Poppins;
    position: relative;
    background: linear-gradient(146.88deg, rgba(255, 81, 47, 0.865885) -6.27%, rgba(221, 36, 118, 0.766559) 74.49%);    
}

nav {
    display: flex;
    justify-content: space-between;
    color: #fff;
    padding: 30px;
}

.nav-content {
    display: flex;
    justify-content: flex-start;
}

.nav-content h5 {
    padding: 0 20px 0 0;
    font-weight: 800;
    font-size: 28px;
    line-height: 42px;
    letter-spacing: 0.826794px;
}

.nav-content p {
    padding: 10px 15px 0;
    font-weight: 500;
    font-size: 18px;
    line-height: 27px;
    letter-spacing: 0.53151px;
}

.nav-button {
    display: flex;
    justify-content: flex-end;
}

.nav-button p {
    padding: 5px 30px 0;
    font-weight: 500;
    font-size: 18px;
    line-height: 27px;
    letter-spacing: 0.53151px;
    word-break: normal;
}

.nav-button .yellow-button {
    margin-top: -20px;
    padding: 5px 35px;;
}

header h6 {
    font-weight: 800;
    font-size: 60px;
    line-height: 82px;
    letter-spacing: 0.541353px;
    color: #FFFFFF;
    text-shadow: 0px 0px 10px rgba(94, 94, 94, 0.148862);
}

.text-header {
    font-weight: 500;
    font-size: 26px;
    line-height: 40px;
    letter-spacing: 0.767737px;
    color: #FFFFFF;
    mix-blend-mode: normal;
    opacity: 0.82;
}

header .header-content {
    padding: 150px 0px 130px 100px;
}

.header-content button {
    margin: 30px 20px 20px 0px;
}

.phone {
    background-image: url(/lesson_28/image/Phone.png);
    background-repeat: no-repeat;
    position: absolute;
    height: 100%;
    width: 100%;
    top: 20%;
    left: 68%;
    overflow: hidden;
    z-index: 1;
}