@media (max-width : 992px) {
    footer p {
        padding-top: 0;
        padding: 0 20px 0;
    }
    #explore .row .col-lg-3.col-md-6.col-sm-12 {
        padding: 20px 0px;
    }

    .nav-button {
        margin: 50px;
        align-items: center;
    }
}

