* { 
    margin:0;
    padding:0;
    box-sizing: border-box;
}

html, body{
    width: 100%;
    font-family: 'Roboto', sans-serif;
    scroll-behavior: smooth;
    overflow-x:hidden;
}

#menu{
    background-color: #eef8e2;
    z-index:1;
    width: 100%;
    display:flex;
    position: fixed;
    background: #eef8e2;
}

#menu > ul{
    width: 100%;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    font-size: 1em; 
    
}

#menu > ul > li{
    list-style: none;
    text-align: center;
    padding: 1em;
}

#menu > ul > li > a {
    color: black;
    text-decoration: none;
    font-family: 'Century Gothic',sans-serif;
    font-size: 1em;
}

#menu > ul > li:hover{
    background-color: #72b626;
    color: white;
}

#menu > ul > li:hover > a{
    color: white;
}

#menu .fullname {
    margin: 0em 1em;
    width: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    background: #eef8e2;
    font-size: 1.5em;
    color: #72b626;
}

#menu .mainMenu {
    display: flex;
    top: 0;
    right: 0;
    left: 0;
    z-index: 10;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    background: #eef8e2;
    font-size: 1.5em;
    list-style-type: none;
}

.intro {
    margin-left: 200px;
    display: flex;
    align-items: center;
    max-height: 100vh;
    height: 100vh;
    padding: 40px;
    overflow: hidden;
}

.intro-thumnail {
    flex: 0 0 50%;
}

.intro-thumnail img {
    box-shadow: 0 0 7px rgba(0,0,0,.3);
    border-radius: 15px;
    margin-right: 2em;
    height: 70vh;
}

.intro-content {
    flex: 0 0 50%;
    display: flex;
    justify-content: center;
    margin-right: 2em;
}

.intro-content-inner {
    max-width: 700px;
}

.intro-content-inner a {
    text-decoration: none;
}

.intro-content-inner h6 {
    color: #777;
    font-size: 22px;
    font-weight: 400;
    display: block;
    text-transform: uppercase;
    margin-left: 0.3em;
    margin-right: 4em;
}

.intro-content-inner h1 {
    font-size: 45px;
    line-height: 45px;
    font-weight: 700;
    margin: 18px 0 10px;
    color: #72b626;
    text-transform: uppercase;
}

.intro-content-inner h1 span {
    color: #666;
    font-weight: 600;
}

.intro-content-inner p {
    margin: 10px 0 23px;
    font-size: 16px;
    line-height: 32px;
}

.intro-content-inner a {
    border-radius: 26px;
    font-weight: 500;
    height: 46px;
    line-height: 46px;
    font-size: 15px;
    text-transform: uppercase;
    color: #fff;
    padding: 0 40px;
    outline: none;
    overflow: hidden;
    display: inline-block;
    letter-spacing: .5px;
    border: 0;
    background-color: #72b626;
}
#portfolio {
    background-color: #eef8e2;
    background-repeat: no-repeat;
    background-size:50%;
    background-position: center;
    margin: 0;
    padding: 0;
    width: 100%;
    /* height: 120vh; */
    margin:0;
    padding:0;
    text-align: center;
}

#portfolio h1, h2 {
    padding: 12px;
    /* margin-bottom: 20px; */
}

#portfolio h1 {
    margin-bottom: 20px;
}

#portfolio .image1 {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding: 20px;
    background-color: #fff;
}

#portfolio .image2 {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding: 20px;
    background-color: #fff;
}

.media  {
    display: flex;
    align-content: center;
    align-items: flex-start;
    box-sizing: border-box;
    line-height: 10px;
    font-size: 1.5em;
    padding: 1em;
}

.media-body {
    padding-left: 2em;
    line-height: 35px;
}

.d-flex {
    padding-right: 2em;
    line-height: 40px;
}

.list {
    list-style-type: none;
}

#information {
    background-color: #eef8e2;
    /* background-repeat: no-repeat;
    background-size:50%; */
    background-position: center;
    margin: 0;
    padding: 0;
    width: 100%;
    /* height: 120vh; */
    margin:0;
    padding:0;
    font-size: 0.9em;
    /* text-align: center; */
}

#information h1 {
    padding: 0.5em;
    padding: 12px;
    margin-bottom: 25px; 
}

#information .transition {
    text-align: center;
}

#information .biotext {
    line-height: 2em;
    font-size: 1.5em;
}

.image1 img, .image2 img {
    height: 400px;
    object-fit: cover;
        
}

#information > .biocontent{
    margin: 0em 0 0 0;
    /* display: flex;
    justify-content: center;
    align-items: center; */
    background-color: #fff;
    padding-bottom: 1em;
    padding: 3em 3em 2em 8em;
}

.info-text {
    margin: 0;
    /* font-size: 80px; */
    line-height: 45px;
    color: black;
    font-size: 1.45em;
    width: 90%;
}

#information > div > figure{
    transform: rotate(90deg);
    MARGIN:0;
    width: 45%;
    padding: 0;
    justify-content: center;
    display:flex;   
}
#information > div > figure > img{
    height: 14vmax;
    max-height: 15vh;
    width: auto;
    margin:0;
    padding:0;
   
}

#information > div > div > div{
    margin-bottom: 3em;
}

.container {
    padding: 2em 3em 3em 8em;
}



#contact  .transition {
    background-color: #eef8e2;
    /* background-repeat: no-repeat; */
    /* background-size:50%; */
    background-position: center;
    margin: 0;
    /* padding: 3em; */
    width: 100%;
    /* height: 10vh; */
    /* margin:1em; */
    padding: 10px 0px 20px 0;
    
    /* text-align: center; */
}

#contact > div{
    color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    
}

#contact h2 {
    text-align: center;
    background-color: #eef8e2;
    padding: 15px 0px 10px 0px;
}

#contact .content{
    padding: 6.5em;
    margin: 0em 5em;
    line-height: 2em;
    font-size: 1.5em;
    background-color: #fff;
    
}
#contact .contentfigure{
    width: 30%;
    display:flex;
    justify-content: center;
}
#contact > div > div > figure img{
    width: 100%;
    margin-left: 30%;
}
#contact .content1{
    width: 50%;
    color: #72b626;
}

#contact .content1 a {
    text-decoration: none;
}
#contact .contentText{
    font-size: 1em;
}

#contact .content2column{
    display:flex;
}

.content2column a {
    text-decoration: none;
    color: black;
}

#contact h1 {
    margin-bottom: 20px; 
}

#contact .tele{
    width: 50%;
    color: black;
}
#contact .email{
    width: 50%;
    color: black;
}

.content2column .contentfigure{
    margin-left: 50px;
}

footer {
    
    padding: 0.5em;
    background-color: #d3e7b9;
    display: flex;
    justify-content:space-between;
    align-items: center;
    }

footer > div > figure{
    width: 25%;  
    padding-left: 5%; 
}


footer > div{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

footer > div > div {
    width: 75%;
    display: flex;
    justify-content:flex-end;
    align-items: center;
}
.content1{
    color: black;
    width: 50%;
    margin: 0 1.25em;
    display:flex;
    flex-direction: column;
    align-items: center;
    
}
.content1 > p{
    padding: 0;
    margin:0.5em 1em;
}
.content2{
    margin:0 1.25em;
}
footer > div > div > div > a {
    padding: 4px;
    color: #72b626;
}

footer > div > div > div> a > i {
    font-size: 8em;
}

footer > div > div > div > a:hover > i {
    color: black;
}
