* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

h1, h5, .heading {
    font-family: Roboto, sans-serif;
}

p {
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    color: var(--color-p-text);
}

a {
    text-decoration: none;
    cursor: pointer;
}
:root {
    --color-blue : #232b84;
    --color-p-text  : #808080;
    --color-button: #e67f45;
    --color-heading-text : #111111;
    --color-grey: #e5e5e5;
}

.container {
    background-color: var(--color-blue);
}

.container-body {
    display: flex;
    padding: 10% 20%;
}

.left-content {
    display: flex;
    flex-direction: column;
    width: 65%;
    /* height: 600px; */
    background-color: #fff;
}

.left-content-image {
    background-image: url(/-min1.jpg);
    background-position: 50% 50%;
    background-size: cover;
    height: 55%;
}

.metal-service, .contact-us {
    display: flex;
    flex-direction: column;
    text-align: center;
}

.left-content-details h5 {
    margin: 20px 0 0;
    font-weight: 400;
    font-size: 1.25rem;
    line-height: 1.2;
}


.left-content-details {
    height: 45%;
    display: flex;
    padding: 3%;
}

.metal-service, .contact-us {
    margin: 0 1%;
}

.left-content-details span{ 
    height: 78px;
    width: 78px;
    margin: 0 auto;
    padding: 18px;
    color: #111111;
    background-color: #d9d9d9;
    border-radius: 50%;
}

.left-content-details p {
    padding: 18px 1px 0;
    font-style: italic;
}

.right-content {
    background-color: var(--color-grey);
    width: 35%;
}

.container-right-content {
    padding: 35% 10% 25% 10%;
    display: flex;
    flex-direction: column;
}

.container-right-content h1 {
    font-size: 2.75rem;
    font-weight: 300;
    color: var(--color-blue);
}

.container-right-content .heading {
    font-size: 2.75rem;
    font-weight: 200;
    color: var(--color-blue);
}

.container-right-content .text {
    font-size: 1.125rem;
    margin: 26px auto 0 0;
    color: var(--color-heading-text);
}

.container-right-content .link-image {
    margin: 20px auto 0 0;
    font-size: 1rem;
    line-height: 1.6;
    color: var(--color-heading-text);
}

.link-image a {
    border-bottom: 1px solid var(--color-heading-text);
}

.button {
    font-family: sans-serif;
    text-transform: uppercase;
    font-size: 0.75rem;
    letter-spacing: 3px;
    margin: 40px auto 0 0;
    color: #fff;
    background-color: var(--color-button);
    padding: 15px;
}

@media (max-width : 830px) {
    .container-body {
        display: flex;
        flex-direction: column;
        padding: 5% 10%;
        }

    .left-content {
        height: 50%;
    }
    
    .right-content {
        height: 50%;
    }

    .left-content-image {
        height: 300px;
    }

    .left-content {
        display: flex;
        flex-direction: column;
        width: 100%;
        /* height: 600px; */
        background-color: #fff;
    }

    .right-content {
        background-color: var(--color-grey);
        width: 100%;
    }

    .container-right-content {
        padding: 5% 5% 5% 5%;
    }

    .button {
        margin: 40px auto 10px 0;
    }
}

@media (max-width : 640px) {
    .container-body {
        display: flex;
        flex-direction: column;
    }

    .left-content {
        height: 50%;
    }
    
    .right-content {
        height: 50%;
    }

    .left-content-image {
        height: 250px;
    }

    .left-content {
        display: flex;
        flex-direction: column;
        width: 100%;
        background-color: #fff;
    }

    .left-content-details {
        display: flex;
        flex-direction: column;
    }

    .right-content {
        background-color: var(--color-grey);
        width: 100%;
    }

    .container-right-content {
        padding: 5% 5% 5% 5%;
    }

    .button {
        margin: 40px auto 10px 0;
    }

    .contact-us {
        margin: 15% 1% 5% 1%;
    } 
}

@media (max-width : 630px) {

    .left-content-image {
        height: 150px;
    }

    .container-right-content h1 {
        font-size: 2.25rem;
    } 
}

