* {
    margin: 0;
    padding: 0;

}


.container {
    display: flex;
    flex-direction: row;
    align-content: space-between;
    justify-content: space-around;
    padding-top: 20px;
}

#supper-boss, #change-rp, #maintenance, #perfect-couple, #skt-t1 {
    width: 17%;
    border-radius: 8px;
    font-family: roboto;
    box-sizing: border-box;
    padding: auto;
    font-size: 1rem;
    border: 1px solid grey;
    background-color: #fff;
}


.category {
    color: #0ac6e4;
    font-weight: 600;
    padding: 5px;
}


img {
    width: 100%;
    height: 12em;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
}

h3 {
    color:#000;
    text-overflow: ellipsis;
    font-weight: 900;
    padding: 5px;
}

.content-2 {
    color: grey;
    padding: 5px;
}

a {
    text-decoration: none;
}