* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}


body {
    font-family: 'Roboto', sans-serif;
}

a {
    text-decoration: none;
}

.menu {
    background-color: #101215;
    display: flex;
    min-height: 60px;
    justify-content: center;
    align-items: center;
}

.menu-item {
    position: relative;
    margin: 0 16px;
    z-index: 1;

}

.menu-item:hover .sub-menu {
    display: block;
    background-color: #fff;
    
}

.menu-item > a {
    color: #fee37d;
    text-transform: uppercase;
    font-size: 0.9rem;
    line-height: 60px;
    padding: 0 30px;
}


.container {
    display: flex;
    flex-direction: row;
    align-content: space-around;
    justify-content: center;
    padding-top: 20px;
    flex-wrap: nowrap;
}

#supper-boss, #change-rp, #maintenance, #perfect-couple, #skt-t1 {
    width: 17%;
    border-radius: 8px;
    font-family: roboto;
    box-sizing: border-box;
    padding: auto;
    font-size: 1rem;
    border: 1px solid rgb(212, 206, 206);
    background-color: #fff;
    margin: 10px;
    box-sizing: border-box;
}


.category {
    color: #0ac6e4;
    font-weight: 600;
    padding: 5px;
}


img {
    width: 100%;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    display: block;
}

h3 {
    color:#000;
    font-weight: 900;
    padding: 5px;
    width: 100%;
    margin: auto;
    display: inline-block;
}

.content-2 {
    width: 100%;
    color: grey;
    padding: 5px 0px 5px;
}

a {
    text-decoration: none;
}

.title {
    height: 80px;
}