* {
    margin: 0;
    padding: 0;
  }
  .width {
    width:700px;
    margin: 0 auto;
    
  }

  .cart-header {
    background-color: #333;
    color: #fff;
  }
  
  .cart-header-inner {
  display: flex;
  justify-content:space-between; 
  height: 78px;
  align-items: center;
  }
  
  .cart-header-icon {
  position: relative;
  }
  
  .cart-header-quantity {
  position: absolute;
  top: -7px;
  right: -8px;
  padding: 4px 8px;
  border-radius: 50%;
  background-color: #85c6f4;
  }
  
  .cart-content {
  display: flex;
  align-items: center;
  }
  
  .cart-item {
  display: flex;
  justify-content:space-between; 
  align-items: center;
  margin: 16px 0;
  }
  
  .cart-info {
  color: #333;
  display: flex;
  flex-direction: column;
  height: 70px;
  justify-content:space-between; 
  }
  
  .cart-quantity {
  display: flex;
  align-items: center;
  justify-content:space-between; 
  flex-direction: column;
  
  color: #333;
  font-weight: bolder;
  height: 70px;
  }
  
  .cart-quantity i {
  font-size: 18px;
  cursor: pointer;
  }
  
  .cart-header i {
    font-size: 36px;
  }
  
  h1 {
    text-align: center;
    margin: 36px 0 24px;
    font-size: 36px;
  }

  .remove-btn {
    letter-spacing: 2px;
    font-weight: 700;
  }
  
  /* img {
    width: 80px;
    height: 80px;
  } */
  
  .cart-footer-total {
  display: flex;
  align-items: center;
  justify-content:space-between; 
  
  color: #333;
  margin-bottom: 16px;
  }
  
  .cart-footer {
  text-align: center;
  }
  
  .cart-footer button {
  padding: 8px 16px;
  color: #bb2525;
  border:1px solid #bb2525;
  border-radius: 4px;
  
  font-size: 16px;
  font-weight: bold;
  cursor: pointer;
  }
  
  .total-price {
  letter-spacing: 2px;
  }
  
  .cart-info span {
  cursor: pointer;
  }