body {
    background-color: #f28ab2;
}

.container {
    width: 400px;
    margin: 50px auto;
    align-items: center;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 5px 15px rgb(0 0 0 / 40%);
    padding: 1.5rem 2rem;
}

.person {
    display: flex;
    flex-direction: row;
    display: grid;
    grid-template-columns: auto 1fr;
    grid-column-gap: 0.75rem;
    -webkit-column-gap: 0.75rem;
    column-gap: 0.75rem;
    margin-bottom: 1.5rem;
    align-items: center;
}

.person-name {
    align-items: center;
    letter-spacing: 2px;
    font-weight: 500;
}

img {
    width: 75px;
    height: 75px;
    object-fit: cover;
    border-radius: 50%;
}

.total-birthdays {
    font-weight: 500;
    text-transform: none;
    margin-bottom: 2rem;
    font-size: 1.75rem;
}